apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: rohit0611/flask-mongo-app:v1
        env:
        - name: MONGO_USER
          value: admin
        - name: MONGO_PASSWORD
          value: password
        - name: MONGO_HOST
          value: mongodb
        resources:
          requests:
            cpu: "0.2"
            memory: "250Mi"
          limits:
            cpu: "0.5"
            memory: "500Mi"
